mixin eShopCart
  .eShopCart__area
    .eShopCart__outer
      .eShopCart
        each item in eCatalogBaseFav
          .eShopCart__item
            .eShopCart__itemLeft
              .eShopCart__imgArea
                a.eShopCart__img(href="#")
                  img(src=item.img, alt="")
                  if item.discount
                    .eShopCart__Discount_inImg= item.discount
              .eShopCart__info
                a(href="#").eShopCart__title
                  span
                    strong Артикул: 
                    = item.id
                  span= item.content 
                  span= item.title
            .eShopCart__itemRight
              .eShopCart__priceInfoArea
                .eShopCart__itemButtons
                  .eShopCart__number.number.number_inTab(data-wareid='xxx', data-mode='qcont')
                    span.minus_tab(data-wareid='xxx', data-change='-1', title='Уменьшить количество') 
                      i.icon-minus
                    input.cartCountInput(type='text', name='count', value='0', min='0', data-wareid='xxx')
                    span.plus_tab(data-wareid='xxx', data-change='1', title='Увеличить количество')
                      i.icon-plus
                .eShopCart__itemPriceArea
                  if item.oldPrice
                    span.eShopCart__OldPrice= item.oldPrice + '₽'
                  span.eShopCart__Price= item.price + '₽'
              .eShopCart__bottomBtnsArea 
                .eShopCart__itemFav
                  i.icon-eheart1.iconNoFav
                  i.icon-eheart1.iconInFav
                  span Избранное
                .eShopCart__itemButtonsDel.tdl-control.delete-svg(data-wareid='xxx', data-change='Z', title="Удалить")
                    span Удалить


      //- .orderCart__total
      //-   span.orderCart__totalTitle Итого: 
      //-   span.orderCart__totalCount 5
      //-   span.orderCart__totalCountTitle товаров
      //-   span.orderCart__totalPriceTitle на сумму: 
      //-   span.orderCart__totalPrice 12500 руб.  
  
mixin eShopCartTotalInfo
  .eShopCartTotalInfo
    .eShopCartTotalInfo__title Ваш заказ
    .eShopCartTotalInfo__table 
      .eShopCartTotalInfo__raw 
        .eShopCartTotalInfo__td1 Стоимость товаров
        .eShopCartTotalInfo__td2 221 800 ₽
      .eShopCartTotalInfo__raw 
        .eShopCartTotalInfo__td1 Ваша скидка
        .eShopCartTotalInfo__td2 78 900 ₽
      .eShopCartTotalInfo__raw 
        .eShopCartTotalInfo__td1 Основная скидка
        .eShopCartTotalInfo__td2 7 900 ₽
    .eShopCartTotalInfo__sum
      .eShopCartTotalInfo__sumTitle Итого к оплате
      .eShopCartTotalInfo__sumValue 221 800 ₽
    a.eShopCartTotalInfo__btn(href="#") Перейти к оформлению

  .addAllToFavBtn Добавить все в избранное
  .eraseCart Очистить корзину
  .cartLookOutInfo Обращаем Ваше внимание, что окончательная стоимость и состав заказа, если в нем присутствуют товары и/или услуги, участвующие в акции, будет подтверждена после обработки заказа.

mixin floatOrderBtn 
  .floatOrder__outer
    .floatOrder
      .floatOrder__left
        .floatOrder__title Итого к оплате
        .floatOrder__value 221 800 ₽
      .floatOrder__right
        a.floatOrderBtn(href="#")  Оформить заказ

  
mixin order  
  .orderForm__wrapper
    h2 Оформление заказа
    form.orderForm__area(action='#')
      h3 Варианты доставки:
      .radioBox__wrapper
        .radioBox
          input#customRadio1(type='radio', name='customRadio')
          label(for='customRadio1') Самовывоз
        .radioBox
          input#customRadio2(type='radio', name='customRadio')
          label(for='customRadio2') Доставка
      .inputBox
        label(for='formGroupExampleInput_f') Ваша фамилия *
        input#formGroupExampleInput_f(type='text', placeholder='')
      .inputBox
        label(for='formGroupExampleInput_i') Ваше имя *
        input#formGroupExampleInput_i(type='text', placeholder='')
      .inputBox
        label(for='formGroupExampleInput_o') Ваше отчество *
        input#formGroupExampleInput_o(type='text', placeholder='')
      .inputBox
        label(for='formGroupExampleInput2') Ваш телефон *
        input#formGroupExampleInput2(type='text', placeholder='')
      .inputBox
        label(for='formGroupExampleInput3') Ваш email *
        input#formGroupExampleInput3(type='text', placeholder='')
      .inputBox
        label(for='formGroupExampleInput_town') Укажите Ваш город *
        input#formGroupExampleInput_town(type='text', placeholder='')
      .inputBox
        label(for='formGroupExampleInput_street') Укажите улицу *
        input#formGroupExampleInput_street(type='text', placeholder='')
      .inputBox
        label(for='formGroupExampleInput_house') Укажите номер дома *
        input#formGroupExampleInput_house(type='text', placeholder='')
      .inputBox
        label(for='formGroupExampleInput_room') Номер квартиры
        input#formGroupExampleInput_room(type='text', placeholder='')
      
      h3 Варианты оплаты:
      .radioBox__wrapper
        .radioBox
          input#customRadio3(type='radio', name='customRadio2')
          label(for='customRadio3') Наличными
        .radioBox
          input#customRadio4(type='radio', name='customRadio2')
          label(for='customRadio4') Банковской картой
      h3 Дополнительная информация:
      .inputBox
        label(for='exampleFormControlTextarea1') Уточните важные для Вас моменты
        textarea#exampleFormControlTextarea1.form-control(rows='3')
  .orderCart__total
    span.orderCart__totalTitle Итого: 
    span.orderCart__totalCount 5
    span.orderCart__totalCountTitle товаров
    span.orderCart__totalPriceTitle на сумму: 
    span.orderCart__totalPrice 12500 руб.
  button.orderForm__orderBtn(type='button')
    i.icon-shopping-cart
    span Заказать